@use "sass:map";
@use "./tokens" as tokens;
// Painuo 1.0.0; source a46310d3a401f0992d346d6c90c1643e84fca4181b990312278d2c7808d581db; explicit scope only; profile touch-web
$pn-touch-web-aliases-admin-compact-dark: (
);
$pn-touch-web-aliases-admin-compact-light: (
);
$pn-touch-web-aliases-public-consumer-dark: (
);
$pn-touch-web-aliases-public-consumer-light: (
);
$pn-touch-web-aliases-work-light-dark: (
);
$pn-touch-web-aliases-work-light-light: (
);
